---
layout: default
---

<div class="sections" style="background-image: url('https://source.unsplash.com/D1ygrmn3gcU')">
    <div class="container">
        <div class="pages-title">
            <h1>Enjoy Smile Dent <br> <span>Servicii</span></h1>
            <p><a href="/index.html">Acasa</a> &nbsp; > &nbsp; <a href="/services.html">Servicii</a></p>
        </div>
    </div>
</div>

<section>
    <!-- SERVICES START -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="shadow-pricing-table">
                    <div class="table-header">
                        <h3>Consultatie stomatologica&nbsp;/&nbsp;control</h3>
                    </div>
                    <table class="table table-striped pricing-table">

                        {% for item in site.data.consultatie.preturi %}

                        <tr>
                            <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                        </tr>

                        {% endfor %}

                    </table>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="shadow-pricing-table">
                    <div class="table-header">
                        <h3>Sanatate orala&nbsp;/&nbsp;tratament profilactic</h3>
                    </div>
                    <table class="table table-striped pricing-table">

                        {% for item in site.data.profilaxie.preturi %}

                        <tr>
                            <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                        </tr>

                        {% endfor %}

                    </table>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="shadow-pricing-table">
                    <div class="table-header">
                        <h3>Albirea dintilor</h3>
                    </div>
                    <table class="table table-striped pricing-table">

                        {% for item in site.data.albire.preturi %}

                        <tr>
                            <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                        </tr>

                        {% endfor %}

                    </table>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="shadow-pricing-table">
                    <div class="table-header">
                        <h3>Odontoterapie</h3>
                    </div>
                    <table class="table table-striped pricing-table">

                        {% for item in site.data.odontoterapie.preturi %}

                        <tr>
                            <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                        </tr>

                        {% endfor %}

                    </table>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="shadow-pricing-table">
                    <div class="table-header">
                        <h3>Endodontie</h3>
                    </div>
                    <table class="table table-striped pricing-table">

                        {% for item in site.data.endodontie.preturi %}

                        <tr>
                            <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                        </tr>

                        {% endfor %}

                    </table>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="shadow-pricing-table">
                    <div class="table-header">
                        <h3>Protetica dentara</h3>
                    </div>
                    <table class="table table-striped pricing-table">

                        {% for item in site.data.protetica.preturi %}

                        <tr>
                            <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                        </tr>

                        {% endfor %}

                    </table>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="shadow-pricing-table">
                    <div class="table-header">
                        <h3>Lucrări protetice pe implant</h3>
                    </div>
                    <table class="table table-striped pricing-table">

                        {% for item in site.data.protetica2.preturi %}

                        <tr>
                            <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                        </tr>

                        {% endfor %}

                    </table>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="shadow-pricing-table">
                        <div class="table-header">
                            <h3>Chirurgie dentara / implantologie</h3>
                        </div>
                        <table class="table table-striped pricing-table">

                            {% for item in site.data.chirurgie.preturi %}

                            <tr>
                                <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                            </tr>

                            {% endfor %}

                        </table>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="shadow-pricing-table">
                        <div class="table-header">
                            <h3>Pedodontie</h3>
                        </div>
                        <table class="table table-striped pricing-table">

                            {% for item in site.data.pedodontie.preturi %}

                            <tr>
                                <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                            </tr>

                            {% endfor %}

                        </table>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="shadow-pricing-table">
                        <div class="table-header">
                            <h3>Ortodontie</h3>
                        </div>
                        <table class="table table-striped pricing-table">

                            {% for item in site.data.ortodontie.preturi %}

                            <tr>
                                <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                            </tr>

                            {% endfor %}

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SERVICES END -->
</section>