---
layout: default
img_base: https://storage.googleapis.com/enjoysmiledent
title: Servicii / Enjoy Smile Dent Floresti - Cabinet Stomatologie Generală
tagline: Enjoy Smile Dent Floresti - Cabinet Stomatologie Generală
description: Lista completa de servicii grupate pe categorii impreuna cu preturile aferente
canonical_url: servicii/
---

<div class="sections" style="height:550px; background-image: url('{{ page.img_base }}/126_h1080.jpg')">
    <div class="container">
        <div class="pages-title">
            <h1>Enjoy Smile Dent <br> <span>Servicii</span></h1>
            <p><a href="/">Acasă</a> &nbsp; > &nbsp; <a href="/servicii/">Servicii</a></p>
        </div>
    </div>
</div>

<section>
    <!-- SERVICES START -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="shadow-pricing-table">
                    <div class="table-header">
                        <h3>Tratamente laser</h3>
                    </div>
                    <table class="table table-striped pricing-table">

                        {% for item in site.data.laser.preturi %}

                        <tr>
                            <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                        </tr>

                        {% endfor %}

                    </table>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="shadow-pricing-table">
                    <div class="table-header">
                        <h3>Consultație stomatologică&nbsp;/&nbsp;control</h3>
                    </div>
                    <table class="table table-striped pricing-table">

                        {% for item in site.data.consultatie.preturi %}

                        <tr>
                            <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                        </tr>

                        {% endfor %}

                    </table>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="shadow-pricing-table">
                    <div class="table-header">
                        <h3>Sanatate orală&nbsp;/&nbsp;tratament profilactic</h3>
                    </div>
                    <table class="table table-striped pricing-table">

                        {% for item in site.data.profilaxie.preturi %}

                        <tr>
                            <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                        </tr>

                        {% endfor %}

                    </table>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="shadow-pricing-table">
                    <div class="table-header">
                        <h3>Albirea dinților</h3>
                    </div>
                    <table class="table table-striped pricing-table">

                        {% for item in site.data.albire.preturi %}

                        <tr>
                            <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                        </tr>

                        {% endfor %}

                    </table>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="shadow-pricing-table">
                    <div class="table-header">
                        <h3>Odontoterapie</h3>
                    </div>
                    <table class="table table-striped pricing-table">

                        {% for item in site.data.odontoterapie.preturi %}

                        <tr>
                            <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                        </tr>

                        {% endfor %}

                    </table>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="shadow-pricing-table">
                    <div class="table-header">
                        <h3>Endodonție</h3>
                    </div>
                    <table class="table table-striped pricing-table">

                        {% for item in site.data.endodontie.preturi %}

                        <tr>
                            <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                        </tr>

                        {% endfor %}

                    </table>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="shadow-pricing-table">
                    <div class="table-header">
                        <h3>Protetică dentară</h3>
                    </div>
                    <table class="table table-striped pricing-table">

                        {% for item in site.data.protetica.preturi %}

                        <tr>
                            <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                        </tr>

                        {% endfor %}

                    </table>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="shadow-pricing-table">
                    <div class="table-header">
                        <h3>Lucrări protetice pe implant</h3>
                    </div>
                    <table class="table table-striped pricing-table">

                        {% for item in site.data.protetica2.preturi %}

                        <tr>
                            <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                        </tr>

                        {% endfor %}

                    </table>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="shadow-pricing-table">
                        <div class="table-header">
                            <h3>Chirurgie dentară / implantologie</h3>
                        </div>
                        <table class="table table-striped pricing-table">

                            {% for item in site.data.chirurgie.preturi %}

                            <tr>
                                <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                            </tr>

                            {% endfor %}

                        </table>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="shadow-pricing-table">
                        <div class="table-header">
                            <h3>Pedodonție</h3>
                        </div>
                        <table class="table table-striped pricing-table">

                            {% for item in site.data.pedodontie.preturi %}

                            <tr>
                                <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                            </tr>

                            {% endfor %}

                        </table>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="shadow-pricing-table">
                        <div class="table-header">
                            <h3>Ortodonție</h3>
                        </div>
                        <table class="table table-striped pricing-table">

                            {% for item in site.data.ortodontie.preturi %}

                            <tr>
                                <td>{{ item.nume }}</td><td><span class="price-right">{{ item.pret }}&nbsp;RON</span></td>
                            </tr>

                            {% endfor %}

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SERVICES END -->
</section>